:host {
  display: block;
  color: #be2222;
}

.container {
  width: 100hw;
  padding: 10px;
  background-color: #90c2e3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.screen-container {
  background-color: black;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 300px;
}

.dial-buttons {
}

.screen {
  color: black;
  background-color: #D8FFFB;
  height: 9em;
}

.hidden {
  visibility: hidden;
}

.signals {
  padding: 5px;
  color: #90c2e3;
}

.signals > div > a {
  color: white;
}

.signal {
}

.signal-indicator {
  width: 50%;
  height: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: grey;
}

.signal-active {
  color: #be2222;
}

.tel-container {
}

.tel-channel {
  text-align: right;
  font-size: 4em;
}

.tel-display {
  padding-right: 20px;
}

.tel-indicator {
  text-align: left;
  padding: 5px;
  width: 2em;
  font-size: 1.5em;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0,  .75);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0,  .75);
  box-shadow: 0 0 10px rgba(0, 0, 0,  .75);
}

.tel-values > div > header {
  font-size: 0.8em;
}

.tel-values > div > footer {
  font-size: 1.5em;
  text-align: center;
  width: 1em;
}

.status-display {
  padding-left: 20px;
}

.status-display > header {
  font-size: 2.45em;
}

.status-display > a > span {
  float: right;
  margin-right: 2em;
}

.select-display {
  font-size: 1em;
}

.select-display > table > tbody > tr > td:first-child {
  width: 3em;
}

.notiffication-display {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  font-size: 1.2em;
}

.select-indicator {
  text-align: left;
  padding: 5px;
  font-size: 1em;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0,  .75);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0,  .75);
  box-shadow: 0 0 10px rgba(0, 0, 0,  .75);
}

.crossed {
  text-decoration: line-through;
}

.ctrl-buttons {
  width: 80px;
  color: black;
}

.ctrl-actions {
  text-align: center;
  font-size: 2.8em;
  color: black;
  border-color: white;
  border-width: thin;
  border-style: solid;
  padding: 0.2em;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 20px;
}

.ctrl-actions > font-awesome {
  text-shadow: 1.5px 1.5px rgba(0, 0, 50, 1.00);
  line-height: 0;
}

.ctrl-actions > font-awesome:active {
  border: 0px solid black;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0,  .75);
  -moz-box-shadow: 0 0 0px rgba(0, 0, 0,  .75);
  box-shadow: 0 0 0px rgba(0, 0, 0,  .75);
  text-shadow: 1.5px 1.5px rgba(0, 0, 50,  0.50);
}


.ctrl-commands > .button {
  width: 50px;
  height: 2.3em;
  margin: 5px;
  background-color: black;
  color: white;
  padding: 5px 10px; /*add some padding to the inside of the button*/
  border: 1px solid grey; /*required or the default border for the browser will appear*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0,  .75);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0,  .75);
  box-shadow: 0 0 10px rgba(0, 0, 0,  .75);

}

.onoff-button {
  background-color: black;
  color: white;
  width: 60px;
  height: 3.0em;
  padding: 2px;
  margin: 5px;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:1px solid grey; /*required or the default border for the browser will appear*/
}

.dial-buttons {
  width: 230px;
  font-size: 0.8em;
}

.dial-button {
  background-color: black;
  color: white;
  width: 60px;
  padding: 2px;
  margin: 1px;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:1px solid grey; /*required or the default border for the browser will appear*/
}

.onoff-button > span {
  display: table-cell;
  vertical-align: middle;
}

.dial-button > div > header {
  font-size: 0.8em;
  text-align: left;
  color: grey;
}

.dial-button > .number {
  font-size: 2em;
  text-align: right;
  vertical-align: text-bottom;
}

.distress-button {
  background-color: #f09497;
  color: black;
  width: 100px;
  height: 3.0em;
  padding: 2px;
  margin: 5px;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:1px solid grey; /*required or the default border for the browser will appear*/
  display: table;
  margin: 0 auto;
}

.distress-button > span {
  display: table-cell;
  vertical-align: middle;
}

.distress-wrapper {
  width: 100%;
}

.button {
  text-align: center;
  cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

.button:active {
  border: 1px solid black;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0,  .75);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0,  .75);
  box-shadow: 0 0 5px rgba(0, 0, 0,  .75);
}

.knob {
  height: 80px;
}
